{% extends 'base.html.twig' %}

{% block title %}Add Comment{% endblock %}

{% block body %}
    <h1>Add a Comment</h1>

    {{ form_start(form) }}
    {{ form_row(form.content) }}
    <button type="submit">Submit</button>
    {{ form_end(form) }}

    <a href="{{ path('app_review_show', {'id': review.id}) }}">Back to Review</a>
{% endblock %}